.block_viewed {
	margin: 0 auto;
	/* padding-top: 40px;
	padding-bottom: 40px; */

	/* background: var(--background-grey); */
	background-repeat: no-repeat;
}


.wrapper {
	width: 1110px;
	margin: 0 auto;

	/* padding: 25px 0 25px 0; */
}

.comfort_block {
	display: flex;
	width: 730px;
	justify-content: space-between;
	margin-top: 15px;
}

.comfort_block_item {
	width: 160px;
	height: 100px;
	text-align: center;
	background: #F6F7F9;
	border-radius: 8px;
}

.comfort_block_item h3 {
	font-weight: 600;
	font-size: 24px;
	line-height: 29px;
	text-align: center;
	margin-bottom: 0;
	color: #000000;
}

.comfort_block_item h4 {
	margin-top: 5px;
}

.comfort_block_item svg {
	margin-top: 23px;
	margin-bottom: -2px;
}

.comfort_block_item_level {
	display: flex;
	width: 78px;
	margin: 0 auto;
	margin-top: 32px;
	margin-bottom: 14px;
	justify-content: space-between;
}

.comfort_block_item_level_round {
	width: 11px;
	height: 11px;
	border-radius: 50%;

	background: #EF8F21;
}

@media (min-width: 320px) and (max-width: 798.999px) {
	.wrapper {
		width: 90%;
	}

	.block_viewed {
		padding-top: 0px;
		padding-bottom: 0px;
	}

	.comfort_block {
		display: flex;
		flex-wrap: wrap;
		width: unset;
		justify-content: space-between;
		margin-top: 10px;
	}

	.comfort_block_item {
		width: 139px;
		height: 60px;
		margin-bottom: 10px;
	}

	.comfort_block_item h3 {
		font-size: 16px;
		margin-top: 5px;
	}

	.comfort_block_item h4 {
		margin-top: 1px;
	}

	.comfort_block_item_level {
		margin-top: 15px;
    	margin-bottom: 9px;
	}

	.comfort_block_item svg {
		width: 22px;
    	margin-top: 5px;
	}
}

@media (min-width: 799px) and (max-width: 1130px) {
	.wrapper {
		width: unset;
		padding: 0px 10px 0px 10px;
	}
}