.h1 {
	text-align: center;
	text-transform: uppercase;

	color: #FFF;

	font-size: 48px;
	/* font-weight: 900; */
	font-style: normal;
	line-height: 59px;
	font-family: var(--font-family-bold);  
}

.h2 {
	color: #000;

	font-size: 20px;
	font-weight: 600;
	font-style: normal;
	line-height: 25px;
}

.h3 {
	color: #000;

	font-size: 16px;
	font-weight: 600;
	font-style: normal;
	line-height: 17px;
}

.h4 {
	color: #000;

	font-size: 14px;
	font-weight: 400;
	font-style: normal;
	line-height: 17px;
}

.h5 {
	color: #000;

	font-size: 24px;
	font-weight: 450;
	line-height: 29px;
}

@media (min-width: 320px) and (max-width: 798.999px) {
	.h1 {
		width: 256px;
		margin: 0 auto;

		text-align: center;
		text-transform: uppercase;

		font-size: 20px;
		font-weight: 750;
		line-height: 25px;
	}

	.h2 {
		font-size: 14px;
		font-weight: 600;
		line-height: 17px;
	}

	.h4 {
		font-size: 12px;
		font-weight: normal;
		line-height: 15px;
	}
}
