.h1 {
	text-align: center;
	text-transform: uppercase;

	color: #FFF;

	font-size: 48px;
	font-weight: 750;
	font-style: normal;
	line-height: 59px;
}

.h2 {
	color: #000;

	font-size: 20px;
	font-weight: 600;
	font-style: normal;
	line-height: 25px;
}

.h3 {
	color: #000;

	font-size: 16px;
	font-weight: 600;
	font-style: normal;
	line-height: 17px;
}

.h4 {
	color: #000;

	font-size: 14px;
	font-weight: 400;
	font-style: normal;
	line-height: 17px;
}

@media (min-width: 320px) and (max-width: 799px) {
	.h1 { 
		font-weight: 750;
		font-size: 20px;
		line-height: 25px;
		text-align: center;
		text-transform: uppercase;
		width: 256px;
		margin: 0 auto;
	}

	.h2 {
		font-weight: 600;
		font-size: 14px;
		line-height: 17px;
	}

	.h3 {
		
	}

	.h4 {
		font-weight: normal;
		font-size: 12px;
		line-height: 15px;
	}
}
