.first_form_get_tour {
	display: flex;
	margin-top: 100px;
}

/* .first_form_get_tour svg{
	position: absolute;
} */

@media (min-width: 320px) and (max-width: 799px) {
	.first_form_get_tour {
		display: block;
		margin-top: 20px;
	}
}