.first_form_get_tour {
	display: flex;

	margin-top: 100px;
}

.second_form_get_tour {
	display: flex;
    border: 2px solid #ffffff;
	margin-top: 100px;
	border-radius: 12px;
	margin-top: -3px; 
}

@media (min-width: 320px) and (max-width: 799px) {
	.first_form_get_tour {
		display: block;

		margin-top: 20px;
	}
}
