.card_expert {
	width: 255px;
    height: 337px;	
	margin-right: 30px;
}

.card_expert_image {
	width: 125px;
	height: 125px;
	
	border-radius: 50%;
	background: url(../../public/static-img/Ellipse\ 14\ \(1\).svg);
	background-repeat: no-repeat;
	background-size: 100%;
	margin: 0 auto;
}

.card_expert_name {
	text-align: center;
	font-size: 16px;
	font-weight: 600;
	margin-top: 20px;
}

.card_tour_image svg {
	position: relative;
	top: 20px;
	left: 308px;
}

.card_expert_content {
	
	padding: 7px 20px 8px 20px;
	display: flex;
	justify-content: space-between;
}

.card_expert_content_place_info {
	padding-bottom: 5px;

	
}

.card_expert_content_guide_info {
	display: block;
}

.card_expert_rating {
	font-style: normal;
	font-weight: normal;
	font-size: 14px;
	line-height: 17px;
	padding-bottom: 0px;
	margin-bottom: 10px;
	color: rgba(0, 0, 0, 0.5);
}

.card_expert_feedback {
	font-style: normal;
	font-weight: normal;
	font-size: 14px;
	line-height: 17px;
	padding-top: 0px;
	margin-top: 0px;
	margin-bottom: 0px;
	color: rgba(0, 0, 0, 0.5);
}

.card_expert_active_tours {
	font-style: normal;
	font-weight: normal;
	font-size: 14px;
	line-height: 17px;
	padding-top: 0px;
	margin-top: 10px;
	
	color: rgba(0, 0, 0, 0.5);
}

.card_expert_rating_num {
	font-weight: 600;
	font-size: 14px;
	line-height: 17px;
	text-align: right;
	color: #84BB59;
	margin-bottom: 10px;
}

.card_expert_rating_num svg {
	margin-right: 3px;
	margin-top: 1px;
}

.card_expert_feedback_num {
	font-size: 14px;
	line-height: 17px;
	text-align: right;
	margin-top: 0px;
	margin-bottom: 10px;
	color: #000000;
}

.card_expert_active_tours_num {
	font-size: 14px;
	line-height: 17px;
	text-align: right;
	margin-top: 0px;
	color: #000000;
}

.card_tour_content_place_info h3 {
	margin-top: 5px;

	font-size: 16px;
	font-weight: 600;
	line-height: 20px;
}

.card_tour_content_place_info h4 {
	margin-top: 0;
	margin-bottom: 0;

	font-size: 12px;
	font-weight: 750;
	line-height: 15px;
}

.card_tour_content_guide_info_name {
	display: flex;
}

.card_tour_content_guide_info_name_avatar {
	width: 40px;
	height: 40px;
	margin-top: 19px;

	border-radius: 50%;
	background: url(../../public/static-img/Ellipse\ 14.png);
}

.card_tour_content_guide_info_name_raiting {
	margin-top: 22px;
	margin-left: 10px;
}

.card_tour_content_guide_info_name_raiting h4 {
	margin: 0 0 3px 0;

	font-size: 13px;
}

.card_tour_content_guide_info_name_raiting svg {
	margin: 0 5px 0 0;
}

.card_tour_content_guide_info_name_raiting span {
	margin: 0 5px 0 0;
}

.card_tour_content_guide_info_cost {
	text-align: right;
}

.card_tour_content_guide_info_cost h3 {
	margin-top: 2px;

	letter-spacing: 1.7px;
}

.card_tour_content_guide_info_cost h4 {
	margin-bottom: 0;

	letter-spacing: -0.6px;
}

.card_tour_content_guide_info_cost span {
	font-family: var(--font-family-rub);
}

@media (min-width: 320px) and (max-width: 799px) {
	.card_tour_image {
		width: 260px;
		height: 140px;
	}

	.card_tour_content_guide_info_name_raiting h4 {
		margin: 0 0 3px 0;

		font-size: 12px;
	}

	.card_tour_content_place_info h3 {
		margin-top: -1px;
		margin-bottom: 3px;

		font-size: 14px;
	}

	.card_tour_content_place_info h4 {
		font-size: 10px;
	}

	.card_tour {
		margin-left: 15px;
	}

	.card_tour_image svg {
		position: relative;
		top: 9px;
		left: 234px;

		width: 16px;
		height: 17px;
	}

	.card_tour_content {
		padding: 10px;
	}

	.card_tour_content_guide_info_name_avatar {
		width: 32px;
		height: 32px;
		margin-top: 0;
	}

	.card_tour_content_guide_info_name_raiting {
		margin-top: 0;
		margin-left: 10px;
	}

	.card_tour_content_guide_info_cost h3 {
		margin-top: 0;

		letter-spacing: 1.7px;
		letter-spacing: 0;
	}

	.card_tour_content_guide_info_cost h4 {
		margin-top: 0;
	}

	.card_tour_content_guide_info {
		margin-top: 10px;
	}
}
