.presentation_block {
	width: 1440px;
	height: 600px;
	margin: 0 auto;

	background: url(../../public/img.png);
	background-position-y: 100%;
	background-repeat: no-repeat;
}

.presentation_block h1 {
	margin-top: 0;
	margin-bottom: 39px;
	padding-top: 131px;

	letter-spacing: 1.5px;
}

.wrapper {
	width: 1110px;
	margin: 0 auto;

	/* padding: 25px 0 25px 0; */
}

@media (min-width: 320px) and (max-width: 799px) {
	.wrapper {
		width: unset;
	}

	.presentation_block {
		width: unset;
		height: 360px;

		background: url(../../public/img.png);
		background-position-x: 50%;
		background-position-y: 56%;
		background-size: 340% 150%;
	}

	.presentation_block h1 {
		margin-top: 0;
		margin-bottom: 21px;
		padding-top: 30px;

		letter-spacing: 1.5px;
	}
}
