
.social_wide {
	display: flex;
	justify-content: space-between;

	box-sizing: border-box;
	width: 360px;
	margin-top: 20px;
}

@media (min-width: 320px) and (max-width: 798.999px) {
	.social_wide {
		position: relative;
		top: 344px;
		left: 16px;

		display: flex;
		justify-content: space-between;

		box-sizing: border-box;
		width: 100%;
		width: 280px;
		margin-right: 0;
	}
}
@media (min-width: 560px) and (max-width: 798.999px) {
	.social_wide {
		position: relative;
		top: 40px;
	}
}