.wrapper {
	width: 1110px;
    margin: 0 auto;
    display: flex;
}

.footer {
	background: var(--grey);
    color: var(--background);
}

@media (min-width: 320px) and (max-width: 460px) {
    
    .wrapper {
        width: unset;
    }

	
}
