.card_feedback {
	position: relative;

	text-align: center;
}

.card_feedback h2 {
	margin-top: 50px;

	/* identical to box height */

	text-align: center;

	color: #000;

	font-size: 16px;

	font-weight: 600;
	line-height: 20px;
}

.card_feedback h4 {
	margin-top: 20px;
	padding: 0 40px 2px 40px;

	text-align: center;

	color: #000;

	font-size: 14px;

	font-weight: normal;
	line-height: 17px;
}

.card_feedback_mounticon {
	position: absolute;
	top: 70px;
}

.card_feedback_image {
	position: relative;
	top: 30px;

	width: 125px;
	height: 125px;
	margin: 0 auto;

	border-radius: 50%;
	border-radius: 8px 8px 0 0;
	background: url(../../public/Ellipse14-2.svg); 
	background-size: 100%;
}

.card_tour_content {
	padding: 18px;
}

.card_tour_content_place_info {
	padding-bottom: 5px;

	border-bottom: 1px solid #EBEBEB;
}

.card_tour_content_guide_info {
	display: flex;
	justify-content: space-between;
}

.card_tour_content_place_info h3 {
	margin-top: 5px;

	font-size: 16px;
	font-weight: 600;
	line-height: 20px;
}

.card_tour_content_place_info h4 {
	margin-top: 0;
	margin-bottom: 0;

	font-size: 12px;
	font-weight: 750;
	line-height: 15px;
}

.card_tour_content_guide_info_name {
	display: flex;
}

.card_tour_content_guide_info_name_avatar {
	width: 40px;
	height: 40px;
	margin-top: 19px;

	border-radius: 50%;
	background: url(../../public/static-img/Ellipse14.png);
}

.card_tour_content_guide_info_name_raiting {
	margin-top: 22px;
	margin-left: 10px;
}

.card_tour_content_guide_info_name_raiting h4 {
	margin: 0 0 3px 0;

	font-size: 13px;
}

.card_tour_content_guide_info_name_raiting svg {
	margin: 0 5px 0 0;
}

.card_tour_content_guide_info_name_raiting span {
	margin: 0 5px 0 0;
}

.card_tour_content_guide_info_cost {
	text-align: right;
}

.card_tour_content_guide_info_cost h3 {
	margin-top: 2px;

	letter-spacing: 1.7px;
}

.card_tour_content_guide_info_cost h4 {
	margin-top: 20px;
	margin-bottom: 5px;

	/* identical to box height */

	text-align: right;

	letter-spacing: -0.6px;

	color: rgba(0, 0, 0, 0.5);

	font-size: 12px;
	font-weight: 450;
	line-height: 15px;
}

.card_tour_content_guide_info_cost span {
	font-family: var(--font-family-rub);
}

@media (min-width: 320px) and (max-width: 798.999px) {
	.card_tour_image {
		width: 260px;
		height: 140px;
	}

	.card_tour_content_guide_info_name_raiting h4 {
		margin: 0 0 3px 0;

		font-size: 12px;
	}

	.card_tour_content_place_info h3 {
		margin-top: -1px;
		margin-bottom: 3px;

		font-size: 14px;
	}

	.card_tour_content_place_info h4 {
		font-size: 10px;
	}

	.card_tour {
		margin-left: 15px;
	}

	.card_tour_image svg {
		position: relative;
		top: 9px;
		left: 234px;

		width: 16px;
		height: 17px;
	}

	.card_tour_content {
		padding: 10px;
	}

	.card_tour_content_guide_info_name_avatar {
		width: 32px;
		height: 32px;
		margin-top: 0;
	}

	.card_tour_content_guide_info_name_raiting {
		margin-top: 0;
		margin-left: 10px;
	}

	.card_tour_content_guide_info_cost h3 {
		margin-top: 0;

		letter-spacing: 1.7px;
		letter-spacing: 0;
	}

	.card_tour_content_guide_info_cost h4 {
		margin-top: 0;
	}

	.card_tour_content_guide_info {
		margin-top: 10px;
	}

	.card_feedback {
		position: relative;
	margin-left: 15px;
		text-align: center;
	}

	.card_feedback_image {
		background: url(../../public/Ellipse14-2.svg);
		width: 80px;
		height: 80px;
		margin: 0 auto;
		background-size: 100%;
		top: 16px;
	}

	.card_feedback h2 {
		margin-top: 30px;
	margin-bottom: 0px;
		/* identical to box height */
	
		text-align: center;
	
		color: #000;
	
		font-size: 14px;
	
		font-weight: 600;
		line-height: 20px;
	}
	
	.card_feedback h4 {
		margin-top: 9px;
		padding: 0 12px 2px 12px;
		text-align: center;
		color: #000;
		font-size: 13px;
		font-weight: normal;
		line-height: 16px;
		margin-bottom: 13px;
	}
}
