.block_viewed {
    display: block;
}
.wrapper {
	width: 1110px;
	margin: 0 auto;
    display: flex;
    font-size: 12px;
    line-height: 15px;   
    color: rgba(0, 0, 0, 0.5);
    letter-spacing: 0.3px;       
}

.margin_first {
    margin-top: 28px;
    margin-bottom: 10px;
}

.margin_second {
    margin-top: 28px;
    margin-bottom: 10px;
}

.breadcrumb_main {
    text-decoration-line: underline;
    
} 

@media (min-width: 320px) and (max-width: 798.999px) {
    .wrapper {
        width: 90%;
        
        margin-top: 6px;
        margin-bottom: 0px;
        
    }

    .margin_second {
        margin-top: 0px;
        margin-bottom: 0px;
    }

    .breadcrumb_main {
        padding-left: 15px;
        
    } 
}