.wrapper {
	width: 1110px;
    margin: 0 auto;
    display: flex;
    padding: 25px 0 25px 0;
}

.desktop_header_buttons {
    display: flex;
    margin-left: 97px;
    margin-top: -5px;
}

@media (min-width: 320px) and (max-width: 460px) {
    
    .wrapper {
        width: unset;
    }

	.desktop_header_buttons {
        display: none;
    }
}