.wrapper {
	display: flex;

	width: 100%;
	margin: 0 auto;
	padding: 25px 0 20px 0;
	position: fixed;
	background: #ffffff;
	z-index: 1000;
	box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.03);
}

.header {
	display: flex;
	position: relative;
	width: 1110px;
	margin: 0 auto;
	
}

.desktop_header_logo_burger {
	display: flex;
}

.desktop_header_buttons {
	display: flex;

	margin-top: -5px;
	margin-left: 97px;
}

.mobile_menu {
	display: none;
}

@media (min-width: 320px) and (max-width: 1023px) {
	.wrapper {
		width: 100%;
		padding: 14px 0 4px 16px;
		justify-content: space-between;
	}

	.header {
		display: flex;
		position: relative;
		width: 100%;
		margin: 0 auto;
		justify-content: space-between;
		
	}

	.desktop_header_buttons {
		display: none;
	}

	.mobile_menu {
		display: block;
	}
}

@media (min-width: 1023px) and (max-width: 1049px) {
	.desktop_header_buttons {
		margin-left: 10px; 
	}
}

@media (min-width: 1049px) and (max-width: 1110px) {
	.desktop_header_buttons {
		margin-left: 30px; 
	}
}

@media (min-width: 1110px) and (max-width: 1160px) {
	.desktop_header_buttons {
		margin-left: 60px; 
	}
}