
.card_type_tour_content {
	width: 100%;
	height: 100%;
	padding: 18px;
	padding-top: 180px;

	color: var(--background);
	border-radius: 8px;
	background: url(../../public/static-img/Rectangle81.png);
}

.card_type_tour_content h3 {
	margin-top: 5px;

	color: var(--background);

	font-size: 13px;
	font-weight: 600;
	line-height: 20px;
}

.card_type_tour_content h4 {
	margin-top: 0;
	margin-bottom: 0;

	text-transform: uppercase;

	color: var(--background);

	font-size: 16px;
	font-weight: 750;
	line-height: 15px;
}

@media (min-width: 320px) and (max-width: 798.999px) {
	.card_type_tour_content {
		/* width: 100%; */
		height: 100%;
		padding: 74px 18px 0px 10px;
		background-repeat: no-repeat;
		
	}

	.card_tour_image {
		width: 260px;
		height: 140px;
	}

	.card_type_tour_content h3 {
		padding-bottom: 6px;
		margin-bottom: -1px;
	}

	.card_tour_content_guide_info_name_raiting h4 {
		margin: 0 0 3px 0;

		font-size: 12px;
	}

	.card_tour_content_place_info h3 {
		font-size: 14px;
	}

	.card_tour_content_place_info h4 {
		margin-top: -1px;
		margin-bottom: 3px;

		font-size: 10px;
	}

	.card_tour {
		margin-left: unset;
		margin: 0 auto;
		width: 90%;
		margin-bottom: 17px;
	}

	.card_tour_image svg {
		position: relative;
		top: 9px;
		left: 234px;

		width: 16px;
		height: 17px;
	}

	.card_tour_content {
		padding: 10px;
	}

	.card_tour_content_guide_info_name_avatar {
		width: 32px;
		height: 32px;
		margin-top: 0;
	}

	.card_tour_content_guide_info_name_raiting {
		margin-top: -2px;
		margin-left: 10px;
	}

	.card_tour_content_guide_info_cost h3 {
		margin-top: 2px;

		letter-spacing: 0;
		letter-spacing: 1.7px;
	}

	.card_tour_content_guide_info_cost h4 {
		margin-top: -3px;
	}

	.card_tour_content_guide_info {
		margin-top: 10px;
	}
}

@media (min-width: 375px) and (max-width: 798.999px) {
	.card_tour {
		margin-left: unset;
		width: 75%;
		margin: 0 auto;
		margin-bottom: 10px;
	}
}

@media (min-width: 440px) and (max-width: 798.999px) {
	.card_tour {
		margin-left: unset;
		width: 50%;
		margin: 0 auto;
		margin-bottom: 10px;
	}
}
