.top_card {
	/* width: 352px; */
	height: 844px;
	border-radius: 8px;
	/* position: absolute; */
    top: 261px;
    right: 197px;
	background: #FFFFFF;
	border: 1px solid rgba(0, 0, 0, 0.1);
	box-sizing: border-box;
	box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.03);
	border-radius: 8px;
}

.top_card_header {
	/* width: 350px; */
	height: 98px;

	background: #2AA2D6;
	border-radius: 8px 8px 0px 0px;
	padding: 30px 25px 15px 30px;
}

.top_card_header_first {
	font-weight: 750;
	font-size: 13px;
	line-height: 16px;
	/* identical to box height */
	margin-top: 0;
	margin-bottom: 0;
	text-decoration-line: underline;
	letter-spacing: 0.5px;

	color: #FFFFFF;
}

.top_card_header_second {
	font-weight: normal;
	font-size: 13px;
	line-height: 16px;
	/* identical to box height */
	margin-top: 6px;
	margin-bottom: 0;
	
	color: #FFFFFF;
}

.top_card_guarantee {
	display: flex;
	margin-top: 30px;
	margin-left: 30px;
}

.top_card_guarantee p {
	font-weight: 750;
	font-size: 13px;
	line-height: 16px;
	/* identical to box height */
	margin-top: 0px;
	margin-left: 15px;
	letter-spacing: 0.4px;
	margin-right: 45px;

	color: #84BB59;
}

.top_card_cost {
	display: flex;
	margin-top: 8px;
	margin-left: 30px;
}

.top_card_cost_left {
	font-weight: 600;
	font-size: 28px;
	line-height: 34px;
	
	color: #000000;
	font-family: var(--font-family-rub);
}

.top_card_cost_right {
	font-weight: 450;
	font-size: 13px;
	line-height: 17px;
	/* identical to box height */
	font-family: var(--font-family-rub);
	text-align: right;
	margin-top: 14px;
	margin-left: 75px;
	letter-spacing: 0.5px;
}

.top_card_info {
	
	font-weight: normal;
	font-size: 11px;
	line-height: 13px;
	width: 290px;
	margin: 0 auto;
	padding-top: 20px;
	padding-bottom: 20px;
	color: #000000;
	border-top: 1px solid #EBEBEB;
	border-bottom: 1px solid #EBEBEB;
	margin-top: 20px;
}

.top_card_info span {
	color: #2AA2D6;
}

.top_card_time {
	width: 290px;
	margin: 0 auto;
	border-bottom: 1px solid #EBEBEB;
	display: flex;
	margin-top: 20px;
	padding-bottom: 20px;
	/* justify-content: space-around; */
}

.top_card_time_days {
	display: flex;
}

.top_card_time_passenger {
	display: flex;
	margin-left: 49px;
	margin-top: 1px;
}

.top_card_time_days_info {
	margin-top: 1px;
	margin-left: 11px;
}

.top_card_time_days_info_head {
	font-weight: normal;
	font-size: 12px;
	line-height: 15px;
	/* identical to box height */
	
	
	color: rgba(0, 0, 0, 0.5);
}

.top_card_time_days_info_foot {
	font-style: normal;
	font-weight: normal;
	font-size: 14px;
	line-height: 17px;
	
	color: #000000;
	margin-top: 5px;
}

.top_card_time_passenger_info {
	margin-left: 9px;
}

.top_card_buttons_date {
	width: 290px;
	height: 52px;
	
	background: #F6F7F9;
	border: 1px solid rgba(0, 0, 0, 0.1);
	box-sizing: border-box;
	border-radius: 8px;
	display: flex;
	margin: 0 auto;
	margin-top: 20px;
	justify-content: space-between;
	padding-top: 15px;
	padding-left: 15px;
	padding-right: 15px;
}
.top_card_buttons_change_date {
	margin-left: -10px;
}

.arrow {
	margin-top: 5px;
}

.top_card_buttons_seats {
	width: 290px;
	height: 52px;

	background: #F6F7F9;
	border: 1px solid rgba(0, 0, 0, 0.1);
	box-sizing: border-box;
	border-radius: 8px;
	display: flex;
	margin: 0 auto;
	margin-top: 10px;
	justify-content: space-between;
}

.top_card_buttons_change_seats {
	margin-top: 15px;
}

.top_card_buttons_change_date {
	font-weight: 450;
	font-size: 16px;
	line-height: 20px;
	/* identical to box height */
	
	text-align: center;
	
	color: #000000;
}

.top_card_buttons_change_seats {
	font-weight: 450;
	font-size: 16px;
	line-height: 20px;
	/* identical to box height */

	text-align: center;

	color: #000000;
}

.top_card_buttons_minus {
	width: 52px;
	height: 52px;
	
	background: #FFFFFF;
	border: 1px solid rgba(0, 0, 0, 0.1);
	box-sizing: border-box;
	border-radius: 8px;
	padding: 10px 14px 17px 17px;
}

.top_card_buttons_plus {
	width: 52px;
	height: 52px;

	background: #FFFFFF;
	border: 1px solid rgba(0, 0, 0, 0.1);
	box-sizing: border-box;
	border-radius: 8px;
	padding: 9px 12px 17px 17px;
	position: relative;
}

.plus {
	margin-left: -10px;
	position: relative;
	top: 7px;
}

.top_card_buttons_accept {
	width: 290px;
	height: 52px;
	margin: 0 auto;
	margin-top: 20px;
	background: #84BB59;
	border-radius: 8px;
	font-weight: 750;
	font-size: 16px;
	line-height: 20px;
	/* identical to box height */
	padding-top: 15px;
	letter-spacing: 0.5px;
	text-align: center;
	text-transform: uppercase;

	color: #FFFFFF;
}

.top_card_booking_info {
	/* width: 290px; */
	margin: 0 auto;
	margin-top: 19px;
	padding: 0px 10px 20px 30px; 
	border-bottom: 1px solid #EBEBEB;
}


.top_card_booking_info_head {
	font-style: normal;
	font-weight: 750;
	font-size: 11px;
	line-height: 13px;
	font-family: var(--font-family-rub);
	color: #000000;
}

.top_card_booking_info_foot {
	font-style: normal;
	font-weight: normal;
	font-size: 11px;
	line-height: 13px;
	margin-top: 10px;
	color: rgba(0, 0, 0, 0.5);
}

.top_card_author {
	background: #F6F7F9;
	border: 1px solid rgba(0, 0, 0, 0.1);
	border-radius: 0px 0px 8px 8px;
}

.card_tour_content_guide_info_name_raiting {
	margin-top: 10px;
	margin-left: 30px;
	display: flex;
}

.card_tour_content_guide_info_name_raiting h4 {
	margin: 22px 0 0px 9px;
	font-weight: 700;
	font-size: 14px;
}

.card_tour_content_guide_info_name_raiting h4:nth-child(2) {
    margin-top: 2px;
	font-size: 12px;
}

.card_tour_content_guide_info_name_raiting svg {
	margin: 0 5px 0 0;
}

.card_tour_content_guide_info_name_raiting span {
	margin: 0 5px 0 0;
}

.author_span {
	font-size: 12px;
	line-height: 15px;
	/* identical to box height */


	color: rgba(0, 0, 0, 0.5);
}

.card_tour_content_guide_info_name_avatar {
	width: 40px;
	height: 40px;
	margin-top: 19px;

	border-radius: 50%;
	background: url(../../public/static-img/Ellipse14.png);
	background-size: cover;
	
}
.card_tour_content_guide_info_name_avatar_info {

}

.top_card_author_button {
	width: 290px;
	height: 52px;
	left: 955px;
	top: 1024px;

	background: #EF8F21;
	border-radius: 8px;
	font-weight: 600;
	font-size: 16px;
	line-height: 20px;
	/* identical to box height */

	text-align: center;

	color: #FFFFFF;
	margin: 0 auto;
	padding-top: 15px;
	margin-top: 20px;
	margin-bottom: 30px;
}
@media (min-width: 320px) and (max-width: 798.999px) {
	.top_card {
		
		position: unset;
		width: 90%;
		
		margin: 0 auto;
		height: 614px;
		
	}

	.top_card_header {
		width: 100%;
		height: 68px;
		padding: 15px 19px 15px 14px;
	}

	.top_card_header_second {
		font-size: 12px;
	}

	.top_card_guarantee {
		display: flex;
		margin-top: 16px;
		margin-left: 16px;
	}

	.top_card_guarantee p {
		margin-top: 1px;
    	margin-left: 9px;
		letter-spacing: 0px;
    	margin-right: 26px;
	}

	.top_card_cost {
		display: flex;
		margin-top: -1px;
		margin-left: 15px;
	}

	.top_card_cost_left {
		font-size: 20px;
	}

	.top_card_cost_right {
		font-size: 12px;
		margin-top: 14px;
		margin-left: 88px;
		letter-spacing: 0;
	}

	.top_card_info {
	
		font-weight: normal;
		font-size: 10px;
		line-height: 13px;
		width: 90%;
		margin: 0 auto;
		padding-top: 9px;
		padding-bottom: 9px;
		margin-top: 12px;
	}

	.top_card_time {
		width: 90%;
		margin: 0 auto;
		border-bottom: 1px solid #EBEBEB;
		display: -moz-box;
		display: flex;
		margin-top: 8px;
		padding-bottom: 9px;
		
	}

	.top_card_time_days svg {
		width: 16px;
	}

	.top_card_time_days_info_head {
		font-size: 11px;
	}

	.top_card_time_days_info_foot {
		font-size: 13px;
    
    	margin-top: 4px;
	}

	.top_card_time_passenger {
		margin-left: 30px;
	}
	.top_card_time_passenger svg{
		width: 16;
	}

	.top_card_time_passenger_info {
		margin-left: 14px;
	}

	.top_card_buttons_date {
		width: 90%;
		margin-top: 16px;
		height: 40px;
		padding-top: 9px;
	}

	.top_card_buttons_change_date {
		font-size: 13px;
	}

	.top_card_buttons_seats {
		width: 90%;
		height: 40px;
	}

	.top_card_buttons_minus {
		width: 40px;
		height: 40px;
		margin-top: -1px;
		padding: 5px 14px 17px 11px;
	}

	.top_card_buttons_plus {
		width: 40px;
		height: 40px;
		margin-top: -1px;
		padding: 4px 13px 17px 13px;
	}

	.top_card_buttons_change_seats {
		font-size: 13px;
		margin-top: 10px;
	}

	.top_card_buttons_accept {
		width: 90%;
		height: 40px;
		margin-top: 10px;
		font-size: 13px;
		padding-top: 12px;
	}

	.top_card_booking_info {
		padding: 0px 10px 13px 15px;
    	margin-top: 11px;
	}

	.top_card_booking_info_head {
		font-size: 10.5px;
	}

	.top_card_booking_info_foot {
		font-size: 10px;
		margin-top: 3px;
	}

	.card_tour_content_guide_info_name_raiting {
		margin-top: 10px;
		margin-left: 15px;
		display: flex;
	}

	.card_tour_content_guide_info_name_avatar {
		width: 32px;
		height: 32px;
		margin-top: 6px;
	}

	.card_tour_content_guide_info_name_raiting h4 {
		margin: 7px 0 0px 9px;
		font-weight: 700;
		font-size: 12px;
		margin-bottom: 14px;
	}

	.card_tour_content_guide_info_name_raiting span {
		display: none;
	}

	.top_card_author_button {
		width: 90%;
		height: 40px;
		margin-top: -11px;
		padding-top: 10px;
		font-size: 14px;
		margin-bottom: 15px;
	}
}
