.block_viewed {
	margin: 0 auto;
	padding-top: 40px;
	padding-bottom: 20px;

	background: var(--background);
	background-repeat: no-repeat;
}

.wrapper {
	width: 1110px;
	margin: 0 auto;

	/* padding: 25px 0 25px 0; */
}

.wrapper h3 {
	margin-top: -2px;
	margin-bottom: 0;

	letter-spacing: 0.42px;

	color: #000;

	font-size: 32px;
	font-weight: 600;
	line-height: 39px;
}

.wrapper h5 {
	margin-top: 20px;
	margin-bottom: 21px;

	letter-spacing: 0.1px;
}

.wrapper p {
	margin-top: 17px;
}

.last_p {
	margin-bottom: 29px;
}



@media (min-width: 320px) and (max-width: 798.999px) {
	.wrapper {
		width: unset;
	}

	.block_viewed {
		padding-top: 17px;
		padding-bottom: 0px;
	}

	.wrapper h3 {
		margin-top: 0px;
		padding: 0 15px;
		font-size: 20px;
		line-height: 27px;
	}
	
	.wrapper h5 {
		margin-top: 8px;
		margin-bottom: 8px;
		padding: 0 15px;
		letter-spacing: 0.1px;
		font-size: 16px;
		line-height: 20px; 
	}
	
	.wrapper p {
		margin-top: 9px;
		margin-bottom: 15.5px;
		padding: 0 18px 0 15px;
		font-size: 12px;
		line-height: 15px;
	}
	
	.last_p {
		margin-bottom: 0px;
	}
}

@media (min-width: 799px) and (max-width: 1130px) {
	.wrapper {
		width: unset;
		padding: 0px 10px 0px 10px;
	}
}