.card_tour {

}

.card_tour_image { 
	width: 728px;
	height: 280px;
	border-radius: 8px 8px 0px 0px;
	background: grey;
}

.card_tour_image svg{ 
	position: relative;
    left: 690px;
    top: 20px;
}

.card_tour_content {
	padding: 0px 18px 18px 18px;
	position: relative;
}

.card_tour_content_place_info {
	/* border-bottom: 1px solid #EBEBEB;  */
	position: absolute;
	top: -80px;
    padding-bottom: 5px;
}

.card_tour_content_guide_info {
	display: flex;
	justify-content: space-between;
}

.card_tour_content_place_info h3 {
	font-weight: 600;
	font-size: 32px;
	line-height: 20px;
	margin-top: 15px;
	color: var(--background);
}

.card_tour_content_place_info h4 {
	font-weight: 600;
	font-size: 20px;
	line-height: 15px;
	margin-top: 0px;
	margin-bottom: 0px;	
	color: var(--background);
}

.card_tour_content_guide_info_name {
	display: flex;
}

.card_tour_content_guide_info_name_avatar {
	width: 40px;
	height: 40px;
	border-radius: 50%;
	background: grey;
	margin-top: 19px;
}

.card_tour_content_guide_info_name_raiting {
	margin-top: 22px;
	margin-left: 10px;
}

.card_tour_content_guide_info_name_raiting h4{
	margin: 0px 0px 3px 0px;
	font-size: 13px;
	
}

.card_tour_content_guide_info_name_raiting svg{
	margin: 0px 5px 0px 0px;
	
}

.card_tour_content_guide_info_name_raiting span{
	margin: 0px 5px 0px 0px;
	
}

.card_tour_content_guide_info_cost {
	text-align: right;
}

.card_tour_content_guide_info_cost h3 {
	margin-top: 2px;
	letter-spacing: 1.7px;
}

.card_tour_content_guide_info_cost h4 {
	margin-bottom: 0px;
	letter-spacing: -0.6px;
}

@media (min-width: 320px) and (max-width: 799px) {

	.card_tour_image { 
		width: 260px;
		height: 140px;
	}

	.card_tour_content_place_info {
		/* border-bottom: 1px solid #EBEBEB;  */
		position: unset;
		border-bottom: 1px solid #EBEBEB;
		padding-bottom: 5px;
	}

	.card_tour_content_place_info h3 {
		font-weight: 600;
		font-size: 32px;
		line-height: 20px;
		margin-top: 15px;
		color: var(--black);
	}
	
	.card_tour_content_place_info h4 {
		font-weight: 600;
		font-size: 20px;
		line-height: 15px;
		margin-top: 0px;
		margin-bottom: 0px;	
		color: var(--black);
	}

	.card_tour_content_guide_info_name_raiting h4{
		margin: 0px 0px 3px 0px;
		font-size: 12px;
		
	}

	.card_tour_content_place_info h3 {
		font-size: 14px;
	}
	
	.card_tour_content_place_info h4 {
		font-size: 10px;
	}

	.card_tour {
		margin-left: 15px;
	}

	.card_tour_image svg{ 
		position: relative;
		left: 234px;
		top: 9px;
		width: 16px;
		height: 17px;
	}

	.card_tour_content {
		padding: 10px;
	}

	.card_tour_content_place_info h3 {
		margin-top: -1px;
		margin-bottom: 3px;
	}

	.card_tour_content_guide_info_name_avatar {
		width: 32px;
		height: 32px;
		margin-top: 0;
	}

	.card_tour_content_guide_info_name_raiting {
		margin-top: 0px;
		margin-left: 10px;
	}

	.card_tour_content_guide_info_cost h3 {
		margin-top: 0px;
		letter-spacing: 1.7px;
	}
	
	.card_tour_content_guide_info_cost h4 {		
		margin-top: 0px;
	}

	.card_tour_content_guide_info {
		margin-top: 10px;
	}

	.card_tour_content_guide_info_cost h3 {
		
		letter-spacing: 0px;
	}
}