.rating {
	position: relative;
	top: -22px;

	width: 60px;
	height: 60px;
	padding: 15px;

	border-radius: 8px 0;

	background: #84BB59;
}

.rating h3 {
	margin: 0;

	color: var(--background);

	font-size: 9px;
	font-weight: 600;
}

.rating h4 {
	margin: 0;

	color: var(--background);

	font-size: 20px;
	font-weight: 750;
}
